@use "../variables";

/** 
 * Tags
 */

.tags {
    &__list {
        &-item {
            &-link {
                color: variables.$color-base;
                &:hover,
                &:focus {
                    color: variables.$color-primary;
                    border-bottom: 1px solid variables.$color-primary;
                }
            }
        }
    }
}
