@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";
@use "../../assets/scss/mixins/line-height";
@use "../../assets/scss/mixins/margin";

.post {
    @include margin.margin-bottom(1.25);
    &:last-child {
        @include margin.margin-bottom(.5);
    }
    &__title {
        font-size: variables.$typographic-base-font-size * 1.6875;
        @include line-height.line-height(1.5);
        @include margin.margin-top(0);
        @include margin.margin-bottom(.5);
        &-link {
            color: variables.$color-base;
            &:hover,
            &:focus {
                color: variables.$color-base;
                border-bottom: 1px solid variables.$color-base;
            }
        }
    }
    &__description {
        font-size: variables.$typographic-base-font-size;
        @include line-height.line-height(1);
        @include margin.margin-bottom(.75);
    }
    &__meta {
        &-time {
            font-size: variables.$typographic-small-font-size;
            color: variables.$color-base;
            font-weight: 500;
            text-transform: uppercase;
        }
        &-divider {
            margin: 0 5px;
        }
        &-category {
            &-link {
                font-size: variables.$typographic-small-font-size;
                color: variables.$color-secondary;
                font-weight: 500;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    color: variables.$color-primary;
                }
            }
        }
    }
    &__readmore {
        font-size: variables.$typographic-base-font-size;
        color: variables.$color-primary;
        &:hover,
        &:focus {
            color: variables.$color-primary;
            border-bottom: 1px solid variables.$color-primary;
        }
    }
}